uvicorn
aiohttp
requests
xmltodict
pydantic
discord_webhook
Django
aioify
fastapi
Pillow
python-dotenv
jinja2
slowapi
mysql-connector-python
owoify-py
pymongo
dnspython
motor
akinator.py[fast_async]
numpy
git+https://github.com/ResetXD/python-tetris